:root {
  --white: #f8f8f8;
  --black: #000;
  --gray: #6b7375;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
